{
  "openapi": "3.0.4",
  "info": {
    "title": "Chainlink ACE Coordinator API",
    "version": "0.1.0",
    "description": "The Coordinator API is the control plane for ACE. Use it to create and manage all ACE resources for your organization."
  },
  "servers": [
    {
      "url": "https://ace.api.chain.link/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health Check"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Wallets"
    },
    {
      "name": "Registries"
    },
    {
      "name": "Identities"
    },
    {
      "name": "Credential Types"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "Policy Engines"
    },
    {
      "name": "Extractors"
    },
    {
      "name": "Policy Implementations"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Targets"
    },
    {
      "name": "Target Protections"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health-check": {
      "get": {
        "tags": ["Health Check"],
        "summary": "Health check endpoint",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  },
                  "required": ["status"]
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          }
        },
        "description": "Returns the service health status. Use this endpoint for liveness probes or uptime monitoring."
      }
    },
    "/policy-engines": {
      "get": {
        "tags": ["Policy Engines"],
        "summary": "Lists all policy engines.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "include_onchains",
            "in": "query",
            "description": "Whether to include onchain entities in the response. Defaults to true.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponseData"
                    },
                    {
                      "type": "object",
                      "required": ["policy_engines"],
                      "properties": {
                        "policy_engines": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PolicyEngine"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "total": 1,
                  "total_pages": 1,
                  "page": 1,
                  "policy_engines": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Policy Engine A",
                      "description": "Description for Policy Engine A",
                      "type": "standard",
                      "chain_selectors": ["16015286601757825753"],
                      "onchain_policy_engines": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "address": "0x1234567890123456789012345678901234567890",
                          "chain_selector": "16015286601757825753",
                          "status": "created"
                        }
                      ],
                      "extractor_registrations": [],
                      "archived_at": null,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Retrieve a paginated list of policy engines belonging to the caller's organization. Use `include_onchains` to control whether on-chain deployment details (addresses, statuses) are included in the response."
      },
      "post": {
        "tags": ["Policy Engines"],
        "summary": "Creates a new policy engine.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the policy engine"
                  },
                  "description": {
                    "type": "string",
                    "description": "Human-readable description of the policy engine"
                  },
                  "extractor_ids": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Id"
                    }
                  },
                  "onchain_policy_engines": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainPolicyEngineInput"
                    }
                  }
                },
                "required": ["name", "onchain_policy_engines"]
              },
              "example": {
                "name": "Policy Engine A",
                "description": "Description for Policy Engine A",
                "extractor_ids": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"],
                "onchain_policy_engines": [
                  {
                    "chain_selector": "16015286601757825753"
                  },
                  {
                    "chain_selector": "4949039107694359620"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy engine"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy engine"
                    },
                    "type": {
                      "$ref": "#/components/schemas/PolicyEngineType"
                    },
                    "onchain_policy_engines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyEngine"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "extractor_registrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorRegistration"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "extractor_registrations",
                    "chain_selectors",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Engine A",
                  "description": "Description for Policy Engine A",
                  "type": "standard",
                  "chain_selectors": ["16015286601757825753", "4949039107694359620"],
                  "onchain_policy_engines": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "address": "0x1234567890123456789012345678901234567890",
                      "chain_selector": "16015286601757825753",
                      "status": "created"
                    }
                  ],
                  "extractor_registrations": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "policy_engine_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "onchain_extractor_registrations": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "chain_selector": "16015286601757825753",
                          "status": "active",
                          "created_at": 1700000000,
                          "updated_at": 1700000000
                        }
                      ],
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "409": {
            "description": "Policy engine already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Already exists",
                  "message": "Resource already exists"
                }
              }
            }
          }
        },
        "description": "Creates a new policy engine and triggers on-chain deployment of policy engine contracts on the specified chains. Provide one or more `chain_selector` values in `onchain_policy_engines`. Each on-chain engine starts in `creation_pending` status until deployment completes. Optionally associate extractors by passing `extractor_ids`."
      }
    },
    "/policy-engines/{policy_engine_id}": {
      "get": {
        "tags": ["Policy Engines"],
        "summary": "Gets a policy engine by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "policy_engine_id",
            "description": "Policy engine ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy engine"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy engine"
                    },
                    "type": {
                      "$ref": "#/components/schemas/PolicyEngineType"
                    },
                    "onchain_policy_engines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyEngine"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "extractor_registrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorRegistration"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "extractor_registrations",
                    "chain_selectors",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Engine A",
                  "description": "Description for Policy Engine A",
                  "type": "standard",
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_engines": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "address": "0x1234567890123456789012345678901234567890",
                      "chain_selector": "16015286601757825753",
                      "status": "created"
                    }
                  ],
                  "extractor_registrations": [],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "404": {
            "description": "Policy engine not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Retrieve a single policy engine by its UUID. Returns the engine with its on-chain deployments, registered extractors, and chain selectors."
      },
      "put": {
        "tags": ["Policy Engines"],
        "summary": "Updates a policy engine.",
        "parameters": [
          {
            "in": "path",
            "name": "policy_engine_id",
            "description": "Policy engine ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the policy engine"
                  },
                  "description": {
                    "type": "string",
                    "description": "Human-readable description of the policy engine"
                  },
                  "extractor_ids": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Id"
                    }
                  },
                  "onchain_policy_engines": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainPolicyEngineInput"
                    }
                  }
                },
                "required": ["name", "onchain_policy_engines"]
              },
              "example": {
                "name": "Policy Engine A Updated",
                "description": "Updated description for Policy Engine A",
                "extractor_ids": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"],
                "onchain_policy_engines": [
                  {
                    "chain_selector": "16015286601757825753"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy engine"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy engine"
                    },
                    "type": {
                      "$ref": "#/components/schemas/PolicyEngineType"
                    },
                    "onchain_policy_engines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyEngine"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "extractor_registrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorRegistration"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "extractor_registrations",
                    "chain_selectors",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Engine A Updated",
                  "description": "Updated description for Policy Engine A",
                  "type": "standard",
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_engines": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "address": "0x1234567890123456789012345678901234567890",
                      "chain_selector": "16015286601757825753",
                      "status": "created"
                    }
                  ],
                  "extractor_registrations": [],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "404": {
            "description": "Policy engine not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Updates a policy engine's name, description, on-chain deployments, and extractor associations. Adding new chain selectors triggers on-chain deployment of new policy engine contracts. Removing chain selectors deletes the coordinator's record for those chains (the on-chain contracts remain deployed but are no longer tracked or managed). New extractors are registered on all on-chain engines; however, removing extractors is not supported — the extractor set is additive only."
      },
      "patch": {
        "tags": ["Policy Engines"],
        "summary": "Archives a policy engine. Rejected if already archived or if policy instances exist that are not archived.",
        "parameters": [
          {
            "in": "path",
            "name": "policy_engine_id",
            "description": "Policy engine ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "description": "Set status to \"archived\" to archive the policy engine.",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/PolicyEnginePatchStatus",
                    "description": "Set to \"archived\" to archive."
                  }
                }
              },
              "example": {
                "status": "archived"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted. Returns policy engine when archived.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy engine"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy engine"
                    },
                    "type": {
                      "$ref": "#/components/schemas/PolicyEngineType"
                    },
                    "onchain_policy_engines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyEngine"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "extractor_registrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorRegistration"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "extractor_registrations",
                    "chain_selectors",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Engine A",
                  "description": "Description for Policy Engine A",
                  "type": "standard",
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_engines": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "address": "0x1234567890123456789012345678901234567890",
                      "chain_selector": "16015286601757825753",
                      "status": "created"
                    }
                  ],
                  "extractor_registrations": [],
                  "archived_at": 1700000000,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. already archived, or policy instances exist that are not archived)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "404": {
            "description": "Policy engine not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Soft-deletes a policy engine by setting `status=archived`. The engine cannot be archived if non-archived policy instances still reference it. The `archived_at` timestamp is set on success."
      }
    },
    "/extractors": {
      "get": {
        "tags": ["Extractors"],
        "summary": "Lists extractors.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "include_onchains",
            "in": "query",
            "description": "Whether to include onchain entities in the response. Defaults to true.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "policy_engine_id",
            "description": "Policy engine ID",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "function_signature",
            "description": "Function signature",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponseData"
                    },
                    {
                      "type": "object",
                      "required": ["extractors"],
                      "properties": {
                        "extractors": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Extractor"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "total": 1,
                  "total_pages": 1,
                  "page": 1,
                  "extractors": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Extractor A",
                      "org_id": "org-123",
                      "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                      "chain_selectors": ["16015286601757825753"],
                      "outputs": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "account",
                          "type": "address",
                          "created_at": 1700000000,
                          "updated_at": 1700000000
                        },
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "amount",
                          "type": "uint256",
                          "created_at": 1700000000,
                          "updated_at": 1700000000
                        }
                      ],
                      "onchain_extractors": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "chain_selector": "16015286601757825753",
                          "address": "0x1234567890123456789012345678901234567890",
                          "created_at": 1700000000,
                          "updated_at": 1700000000
                        }
                      ],
                      "archived_at": null,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Retrieve a paginated list of extractors. Filter by `policy_engine_id` to see extractors registered to a specific engine, or by `function_signature` to find extractors that support a given function (e.g. `transfer(address,uint256)`). Use `include_onchains` to include on-chain contract details."
      },
      "post": {
        "tags": ["Extractors"],
        "summary": "Creates a new extractor.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "supported_function_signatures", "outputs"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the extractor"
                  },
                  "supported_function_signatures": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Function signatures that the extractor supports"
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExtractorOutputInput"
                    }
                  },
                  "onchain_extractors": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainExtractorInput"
                    }
                  }
                }
              },
              "example": {
                "name": "Extractor A",
                "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                "outputs": [
                  {
                    "name": "account",
                    "type": "address"
                  },
                  {
                    "name": "amount",
                    "type": "uint256"
                  }
                ],
                "onchain_extractors": [
                  {
                    "chain_selector": "16015286601757825753",
                    "address": "0x1234567890123456789012345678901234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "supported_function_signatures",
                    "chain_selectors",
                    "outputs",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the extractor"
                    },
                    "org_id": {
                      "$ref": "#/components/schemas/OrgId"
                    },
                    "supported_function_signatures": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Function signatures that the extractor supports"
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorOutput"
                      }
                    },
                    "onchain_extractors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainExtractor"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Extractor A",
                  "org_id": "org-123",
                  "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                  "chain_selectors": ["16015286601757825753"],
                  "outputs": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "account",
                      "type": "address",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    },
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "amount",
                      "type": "uint256",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "onchain_extractors": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          }
        },
        "description": "Registers a new extractor in the coordinator. Provide a `name`, the `supported_function_signatures` the extractor handles (e.g. `transfer(address,uint256)`), and the `outputs` it produces (named parameters with their Solidity types). Optionally include `onchain_extractors` to record the addresses of already-deployed extractor contracts on specific chains — the coordinator does not deploy extractor contracts; it records their on-chain locations."
      }
    },
    "/extractors/{extractor_id}": {
      "get": {
        "tags": ["Extractors"],
        "summary": "Gets an extractor by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "extractor_id",
            "description": "Extractor ID",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "supported_function_signatures",
                    "chain_selectors",
                    "outputs",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the extractor"
                    },
                    "org_id": {
                      "$ref": "#/components/schemas/OrgId"
                    },
                    "supported_function_signatures": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Function signatures that the extractor supports"
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorOutput"
                      }
                    },
                    "onchain_extractors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainExtractor"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Extractor A",
                  "org_id": "org-123",
                  "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                  "chain_selectors": ["16015286601757825753"],
                  "outputs": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "account",
                      "type": "address",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "onchain_extractors": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "404": {
            "description": "Extractor not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Retrieve a single extractor by its UUID. Returns the extractor with its supported function signatures, named outputs (parameter names and types), and on-chain contract addresses."
      },
      "put": {
        "tags": ["Extractors"],
        "summary": "Updates an extractor.",
        "parameters": [
          {
            "in": "path",
            "name": "extractor_id",
            "description": "Extractor ID",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "supported_function_signatures", "outputs"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the extractor"
                  },
                  "supported_function_signatures": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Function signatures that the extractor supports"
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExtractorOutputInput"
                    }
                  },
                  "onchain_extractors": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainExtractorInput"
                    }
                  }
                }
              },
              "example": {
                "name": "Extractor A",
                "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                "outputs": [
                  {
                    "name": "account",
                    "type": "address"
                  },
                  {
                    "name": "amount",
                    "type": "uint256"
                  }
                ],
                "onchain_extractors": [
                  {
                    "chain_selector": "16015286601757825753",
                    "address": "0x1234567890123456789012345678901234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "supported_function_signatures",
                    "chain_selectors",
                    "outputs",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the extractor"
                    },
                    "org_id": {
                      "$ref": "#/components/schemas/OrgId"
                    },
                    "supported_function_signatures": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Function signatures that the extractor supports"
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorOutput"
                      }
                    },
                    "onchain_extractors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainExtractor"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Extractor A",
                  "org_id": "org-123",
                  "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                  "chain_selectors": ["16015286601757825753"],
                  "outputs": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "account",
                      "type": "address",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "onchain_extractors": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "404": {
            "description": "Extractor not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          }
        },
        "description": "Full update of an extractor's `name`, `supported_function_signatures`, `outputs`, and `onchain_extractors`. The `onchain_extractors` array records the addresses of already-deployed extractor contracts — adding or removing entries updates the coordinator's record of where the extractor lives on each chain."
      },
      "patch": {
        "tags": ["Extractors"],
        "summary": "Archives an extractor. Rejected if already archived.",
        "parameters": [
          {
            "in": "path",
            "name": "extractor_id",
            "description": "Extractor ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "description": "Set status to \"archived\" to archive the extractor.",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/ExtractorPatchStatus",
                    "description": "Set to \"archived\" to archive."
                  }
                }
              },
              "example": {
                "status": "archived"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted. Returns extractor when archived.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "supported_function_signatures",
                    "chain_selectors",
                    "outputs",
                    "created_at",
                    "updated_at"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the extractor"
                    },
                    "org_id": {
                      "$ref": "#/components/schemas/OrgId"
                    },
                    "supported_function_signatures": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Function signatures that the extractor supports"
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractorOutput"
                      }
                    },
                    "onchain_extractors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainExtractor"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/CreatedAt"
                    },
                    "updated_at": {
                      "$ref": "#/components/schemas/UpdatedAt"
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix timestamp when archived (null if not archived)",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Extractor A",
                  "org_id": "org-123",
                  "supported_function_signatures": ["mint(address,uint256)", "burn(address,uint256)"],
                  "chain_selectors": ["16015286601757825753"],
                  "outputs": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "account",
                      "type": "address",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "onchain_extractors": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "extractor_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890",
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": 1700000000,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. already archived)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "404": {
            "description": "Extractor not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Soft-deletes an extractor by setting `status=archived`. The `archived_at` timestamp is set on success."
      }
    },
    "/policy-implementations": {
      "get": {
        "tags": ["Policy Implementations"],
        "summary": "Lists all policy implementations.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "include_onchains",
            "in": "query",
            "description": "Whether to include onchain entities in the response. Defaults to true.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "Name",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponseData"
                    },
                    {
                      "type": "object",
                      "required": ["implementations"],
                      "properties": {
                        "implementations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PolicyImplementation"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "total": 1,
                  "total_pages": 1,
                  "page": 1,
                  "implementations": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Policy Implementation A",
                      "description": "Description for Policy Implementation A",
                      "policy_config_schema": {},
                      "chain_selectors": ["16015286601757825753"],
                      "onchain_policy_implementations": [
                        {
                          "chain_selector": "16015286601757825753",
                          "address": "0x1234567890123456789012345678901234567890"
                        }
                      ],
                      "parameters": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "Account",
                          "type": "address",
                          "position": 0,
                          "max": -1,
                          "created_at": 1700000000,
                          "updated_at": 1700000000
                        }
                      ],
                      "archived_at": null,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Retrieve a paginated list of policy implementations. Filter by `name` for substring matching. Use `include_onchains` to include on-chain contract addresses. Each implementation includes its config schema, run parameters, and supported chains."
      },
      "post": {
        "tags": ["Policy Implementations"],
        "summary": "Register a custom policy implementation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "description", "policy_config_schema"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the policy implementation"
                  },
                  "description": {
                    "type": "string",
                    "description": "Human-readable description of the policy implementation"
                  },
                  "policy_config_schema": {
                    "$ref": "#/components/schemas/PolicyConfigSchemaInput"
                  },
                  "onchain_policy_implementations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainPolicyImplementation"
                    }
                  }
                }
              },
              "example": {
                "name": "Policy Implementation A",
                "description": "Description for Policy Implementation A",
                "policy_config_schema": {
                  "properties": {
                    "allowlist": {
                      "type": "array",
                      "description": "Addresses permitted to participate in transactions.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$"
                          }
                        },
                        "required": ["address"]
                      }
                    }
                  },
                  "policy_run_parameters": [
                    {
                      "name": "Account",
                      "type": "address",
                      "max": -1
                    }
                  ],
                  "initial_configs": []
                },
                "onchain_policy_implementations": [
                  {
                    "chain_selector": "16015286601757825753",
                    "address": "0x1234567890123456789012345678901234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy implementation"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy implementation"
                    },
                    "policy_config_schema": {
                      "$ref": "#/components/schemas/PolicyConfigSchema"
                    },
                    "onchain_policy_implementations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyImplementation"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "parameters": {
                      "type": "array",
                      "description": "Processed policy run parameters with server-generated fields",
                      "items": {
                        "$ref": "#/components/schemas/PolicyRunParametersResponse"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Unix timestamp when archived; null if not archived"
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the creation"
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the last update"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "policy_config_schema",
                    "chain_selectors",
                    "parameters",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Implementation A",
                  "description": "Description for Policy Implementation A",
                  "policy_config_schema": {},
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_implementations": [
                    {
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890"
                    }
                  ],
                  "parameters": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Account",
                      "type": "address",
                      "position": 0,
                      "max": -1,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "409": {
            "description": "Policy implementation already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Already exists",
                  "message": "Resource already exists"
                }
              }
            }
          }
        },
        "description": "Registers a custom policy implementation for the caller's organization. The request must include the policy config schema (JSON Schema defining configurable properties), policy run parameters (inputs the policy expects from the extractor at evaluation time), initial config fields, and on-chain contract addresses."
      }
    },
    "/policy-implementations/{policy_implementation_id}": {
      "get": {
        "tags": ["Policy Implementations"],
        "summary": "Gets a policy implementation by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "policy_implementation_id",
            "description": "Policy implementation ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy implementation"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy implementation"
                    },
                    "policy_config_schema": {
                      "$ref": "#/components/schemas/PolicyConfigSchema"
                    },
                    "onchain_policy_implementations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyImplementation"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "parameters": {
                      "type": "array",
                      "description": "Processed policy run parameters with server-generated fields",
                      "items": {
                        "$ref": "#/components/schemas/PolicyRunParametersResponse"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Unix timestamp when archived; null if not archived"
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the creation"
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the last update"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "policy_config_schema",
                    "chain_selectors",
                    "parameters",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Implementation A",
                  "description": "Description for Policy Implementation A",
                  "policy_config_schema": {},
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_implementations": [
                    {
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890"
                    }
                  ],
                  "parameters": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Account",
                      "type": "address",
                      "position": 0,
                      "max": -1,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": null,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "404": {
            "description": "Policy implementation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "description": "Retrieve a single policy implementation by its UUID. Returns the full implementation including config schema, run parameters, on-chain addresses, and supported chains."
      },
      "patch": {
        "tags": ["Policy Implementations"],
        "summary": "Archives a policy implementation. Rejected if policy instances exist.",
        "parameters": [
          {
            "in": "path",
            "name": "policy_implementation_id",
            "description": "Policy implementation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "description": "Set status to \"archived\" to archive the policy implementation.",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/PolicyImplementationPatchStatus",
                    "description": "Set to \"archived\" to archive."
                  }
                }
              },
              "example": {
                "status": "archived"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted. Returns policy implementation when archived.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy implementation"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy implementation"
                    },
                    "policy_config_schema": {
                      "$ref": "#/components/schemas/PolicyConfigSchema"
                    },
                    "onchain_policy_implementations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyImplementation"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "parameters": {
                      "type": "array",
                      "description": "Processed policy run parameters with server-generated fields",
                      "items": {
                        "$ref": "#/components/schemas/PolicyRunParametersResponse"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Unix timestamp when archived; null if not archived"
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the creation"
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the last update"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "policy_config_schema",
                    "chain_selectors",
                    "parameters",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Implementation A",
                  "description": "Description for Policy Implementation A",
                  "policy_config_schema": {},
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_implementations": [
                    {
                      "chain_selector": "16015286601757825753",
                      "address": "0x1234567890123456789012345678901234567890"
                    }
                  ],
                  "parameters": [
                    {
                      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Account",
                      "type": "address",
                      "position": 0,
                      "max": -1,
                      "created_at": 1700000000,
                      "updated_at": 1700000000
                    }
                  ],
                  "archived_at": 1700000000,
                  "created_at": 1700000000,
                  "updated_at": 1700000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. already archived)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Bad request",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "404": {
            "description": "Policy implementation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Not found",
                  "message": "Resource not found"
                }
              }
            }
          },
          "409": {
            "description": "Cannot archive - policy instances exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message of the response"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "enum": [
                        "Already exists",
                        "Internal error",
                        "Not found",
                        "Bad request",
                        "Unauthorized",
                        "Forbidden"
                      ]
                    }
                  }
                },
                "example": {
                  "error": "Already exists",
                  "message": "Resource already exists"
                }
              }
            }
          }
        },
        "description": "Soft-deletes a policy implementation by setting `status=archived`. Policy instances created from this implementation must be archived first."
      },
      "put": {
        "tags": ["Policy Implementations"],
        "summary": "Update a policy implementation",
        "parameters": [
          {
            "in": "path",
            "name": "policy_implementation_id",
            "description": "Policy implementation ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "description", "onchain_policy_implementations"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the policy implementation"
                  },
                  "description": {
                    "type": "string",
                    "description": "Human-readable description of the policy implementation"
                  },
                  "onchain_policy_implementations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OnchainPolicyImplementation"
                    }
                  }
                }
              },
              "example": {
                "name": "Policy Implementation A",
                "description": "Updated description for Policy Implementation A",
                "onchain_policy_implementations": [
                  {
                    "chain_selector": "16015286601757825753",
                    "address": "0x1234567890123456789012345678901234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable name of the policy implementation"
                    },
                    "description": {
                      "type": "string",
                      "description": "Human-readable description of the policy implementation"
                    },
                    "policy_config_schema": {
                      "$ref": "#/components/schemas/PolicyConfigSchema"
                    },
                    "onchain_policy_implementations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnchainPolicyImplementation"
                      }
                    },
                    "chain_selectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainSelector"
                      }
                    },
                    "parameters": {
                      "type": "array",
                      "description": "Processed policy run parameters with server-generated fields",
                      "items": {
                        "$ref": "#/components/schemas/PolicyRunParametersResponse"
                      }
                    },
                    "archived_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Unix timestamp when archived; null if not archived"
                    },
                    "created_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the creation"
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Timestamp of the last update"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "policy_config_schema",
                    "chain_selectors",
                    "parameters",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Policy Implementation A",
                  "description": "Updated description for Policy Implementation A",
                  "policy_config_schema": {},
                  "chain_selectors": ["16015286601757825753"],
                  "onchain_policy_implementations": [
                    {
                      "chain_selector": "16015286601757825753",
[...]
